extends ../layout/base 
block content 
    section.contents
        .row(style='padding:20px')
            .col-sm-6(style='justify-content:center;text-align:center;')
                img(src='/images/download.jpg' height='auto' width='530' style='margin-top:50px;border-radius:10px;')
            .col-sm-6(style='align-self:center;text-align:justify;margin-top:50px;')
                h2(style='font-weight:bold;')
                    |   Selamat Datang di
                    br
                    span(style='color:#d9aa50;') UNIVERSITAS GADJAH MADA!!!
                h4(style='margin-right:30px;') Universitas Gadjah Mada adalah gabungan dari beberapa sekolah tinggi, yaitu Sekolah Tinggi Teknik, Akademi Politik Yogyakarta, Balai Pendidikan Ahli Hukum di Solo, serta Perguruan Tinggi Kedokteran Bagian Praklinis di Klaten. Berdirinya universitas ini disahkan oleh Peraturan Pemerintah No. 23 Tahun 1949 tentang penggabungan perguruan tinggi menjadi universitas.
