footer.main-footer
    .pull-right.hidden-xs
        | <b>UGM</b> 2022
    strong
        | Copyright &copy; 2022
        a(href="#")  >Universitas Gadjah Mada> 
    | All rights reserved.
.control-sidebar-bg