aside.main-sidebar
    section.sidebar
       .user-panel
            .pull-left.image
                img(src='/images/abid.jpeg',alt='User Image', style="height: 40px, width: 40px").img-align-left
            .pull-left.info
                p Abid Fadillah Rifky 
        ul.sidebar-menu
            li.header
                | Universitas Gadjah Mada
            li.treeview
                a(href='/dashboard')
                    i.fa.fa-columns
                    span
                        | Dashboard
            li.treeview
                a(href='/')
                    i.fa.fa-columns
                    span
                        | Fakultas
            li.treeview
                a(href='/nim')
                    i.fa.fa-file
                    span
                        | NIM
           
            